#entry {
border-radius: 0px;
padding: 2px 3px 2px 3px;
}

#text:selected {
font-weight: bold;
}

#window {
padding: 2px;
border-radius: 0px;
}

#input {
padding: 3px 5px 3px 5px;
border-radius: 0px;
}

#inner-box {
padding: 2px;
background-color: transparent;
}

#outer-box {
margin: 15px;
background-color: transparent;
}

#scroll {
margin-top: 10px;
background-color: transparent;
border: none;
}

#text {
padding: 6px;
font-size: 14px;
background-color: transparent;
}

#img {
background-color: transparent;
padding: 5px;
}
